.headerContainer {
  display: flex;
  height: 10vh;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #004643;
  color: #abd1c6;
}

.title {
  color: #fffffe;
  font-size: 17px;
}

.rightSide {
  display: flex;
  gap: 10px;
  align-items: center;
}
